   svg.w-5.h-5 {
     /*paginateメソッドの矢印の大きさ調整のために追加*/
     width: 30px;
     height: 30px;
   }

   .box-read {
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
   }

   p {
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
   }